body {
    font-family: Arial;
    background-color: #efecf5;
    border: solid 25px #057ffa;
}

title {
    color: #000000;
    font-size: 25;
    font-weight: bold;
    width: auto;
    text-align: left;
} 

h1 {
    color: #000000;
    font-size: 25;
    font-weight: bold;
    width: auto;
    text-align: center;
} 

h2 {
    color: #000000;
    font-size: 20;
    font-weight: bold;
    width: auto;
    text-align: center;
}

.p1 {
    color: #000000;
    font-size: 14;
    text-align: center;
    width: 50%;
    margin: auto;

}

ul {
    font-size: 14;
    color: #000000;
    text-align: left;
    width: 45%;
    margin: auto;
    padding: 25px;
}

div {
    text-align: left;
    margin: auto;
    width: 50%;
}

.image1 {
    width: 25%;
    height: 25%;
    display: block;
    margin: auto;
    margin-top: 25px;
}

 .image2 {
    width: 25%;
    height: 25%;
    display: block;
    margin: auto;
    margin-top: 25px;
}

.image3 {
    width: 22%;
    height: 22%;
    margin-left: 625px;
    margin-right: 20px;
    margin-top: 25px;
}

.image4 {
    width: 12.5%;
    height: 12.5%;
    margin-left: 20 px;
    margin-top: 25px;
}

.image5 {
    width: 25%;
    height: 25%;
    display: block;
    margin: auto;
    margin-top: 25px;
}

.image6 {
    width: 25%;
    height: 25%;
    display: block;
    margin: auto;
    margin-top: 25px;
}

a {
    color: #ff0000;
}