body {
    font-family: Arial;
    background-color: #efecf5;
    border: solid 25px #057ffa;
}

h1{
    color: #e3eaf6;
    font-size: 25;
    font-weight: bold;
    width: auto;
    text-align: center;
} 

h2 {
    color: #000000;
    font-size: 20;
    font-weight: bold;
    width: auto;
    text-align: center;
}

p {
    color: #000000;
    background-color: #333235;
    font-size: 14;
    text-align: left;
    width: 50%;
    margin: auto;

}

ul {
    font-size: 14;
    color: #000000;
    background-color: #717274;
    text-align: left;
    width: 45%;
    margin: auto;
    padding: 25px;
}

div {
    text-align: center;
    margin: auto;
    width: 50%;
}

img {
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
}


a {
    color: #ff0000;
}